@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

/* regra CSS, tem um padrão:
seletor: quem você decide formatar;
propriedade: o que você deseja formatar no seletor; 
valor: aquilo ou o que sera mudado na propriedade;  */


/* seletor {
    propriedade: valor;
} */


/* cor na web segue o padrão RGB (red, green, blue 
codigo RGB: cores recebem valores de 0 á 255 */

body {
    font-family: 'Noto Serif', serif;
}

h1 {
    color: rgb(2, 110, 124);
    font-size: 35px;
}


/* codigo exadecimal: numeros de 0 á 9, mais as letras a(10), b(11), c(12), d(13), e(14), f(15) */

h2,
h3 {
    color: #265774;
    font-size: 20px;
}

p {
    color: rgba(0, 9, 128, 0.425);
    font-size: 16px;
}